.search-icon {
  background-color: #fff !important;
  position: absolute;
  margin-top: 8px;
  margin-left: 30px;
  cursor: text;
  color: rgb(204, 204, 204);
}

.search-input {
  margin-left: 23px;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  color: rgb(204, 204, 204);
}
